.doc {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;

  @media (min-width: $md-breakpoint) {
    display: grid;
    grid-template-columns: 2fr 8fr;
  }

  .content {
    background-color: var(--color-background-above);
    padding: 2rem;
    font-size: 20px;
    font-weight: 300;
  }
}

.doc > .toc {
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  top: calc(45px + 2rem);
  margin-top: 2rem;
  align-self: start;
  padding-right: 2rem;

  ol {
    list-style: none;
    margin: 0;
    margin-left: 32px;
    padding: 0;

    li {
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 28px;
    }
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: #1395c4;
  }

  a:hover {
    color: #10131a;
    font-weight: 600;
    letter-spacing: -0.4px;
  }

  .back-to-top {
    margin-left: 32px;
  }

  @media (max-width: 767px) {
    position: inherit; /* Required for Safari */
    position: inherit;

    .back-to-top {
      display: none;
    }
  }
}

@media (min-height: 100vh) {
  body {
    background-color: red;
  }
}
