.doc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;

  @media (min-width: $md-breakpoint) {
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  .content {
    background-color: var(--color-background-above);
    padding: 2rem;
    font-size: 20px;
    font-weight: 300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    code {
      background: inherit;
      color: inherit;
      border-radius: inherit;
      padding: inherit;
      font-size: inherit;
    }
  }
}

.doc > .toc {
  overflow: hidden;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  top: calc(var(--nav-links-height) + 2rem);
  margin: 2rem 0;
  align-self: start;
  padding-right: 2rem;

  ol {
    list-style: none;
    margin: 0;
    margin-left: 32px;
    padding: 0;

    li {
      line-height: 22px;
      margin: 8px 0px;

      code {
        background: inherit;
        color: inherit;
        border-radius: inherit;
        padding: inherit;
        font-size: inherit;
      }
    }
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: #1395c4;
  }

  a:hover {
    color: #10131a;
  }

  .back-to-top {
    margin-left: 32px;
  }

  @media (max-width: 767px) {
    position: inherit; /* Required for Safari */
    position: inherit;

    .back-to-top {
      display: none;
    }
  }
}
