@use "../_components/footer";
@use "../_components/label";
@use "landing";

.post {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-above);

  @media (min-width: footer.$md-breakpoint) {
    display: grid;
    grid-template-columns: 7fr 3fr;
  }

  @media (min-width: landing.$lg-main-breakpoint) {
    grid-template-columns: 6fr 3fr;
  }

  @media (min-width: label.$lg-nav-breakpoint) {
    grid-template-columns: 7fr 2fr;
  }
  .content {
    padding: 2rem;
    font-size: 20px;
    font-weight: 300;
  }
}

.divider {
  height: 1px;
  background-color: #ddd;
  margin-top: 24px;
  margin-bottom: 16px;
}
