.post {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-above);

  @media (min-width: $md-breakpoint) {
    display: grid;
    grid-template-columns: 7fr 2fr;
  }
  .content {
    padding: 2rem;
    font-size: 20px;
    font-weight: 300;
  }
}

.divider {
  height: 1px;
  background-color: #ddd;
  margin-top: 24px;
  margin-bottom: 16px;
}
