.resource {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);

  @media (min-width: $md-breakpoint) {
    display: grid;
    grid-template-columns: 7fr 3fr;
  }

  @media (min-width: $lg-nav-breakpoint) {
    grid-template-columns: 7fr 2fr;
  }

  @media (min-width: $lg-main-breakpoint) {
    contain: paint;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-background-above);
    height: inherit;

    .content {
      padding: 32px;
      display: flex;
      flex-direction: column;

      h1 {
        margin: 4px 0;
      }

      h3 {
        margin: 0;
      }

      .description {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
      }

      .section {
        padding: 16px 0;
        border-bottom: 1px solid var(--color-border);
      }

      .tags-wrapper {
        margin-top: 12px;
        display: flex;
        gap: 8px;
        align-items: center;
      }

      .meta-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 24px;

        .meta {
          code {
            background-color: transparent;
            color: inherit;
            border: 0;
            padding: 0;
          }
          span {
            font-weight: 700;
          }
          p {
            margin: 4px 0;
          }
        }
      }

      .documentation {
        .description {
          margin-top: 12px;
        }
      }

      .downloads {
        display: flex;
        flex-direction: column;
        gap: 32px;

        padding: 16px 0;
        h3 {
          margin: 8px 0;
        }

        .links {
          display: grid;
          grid-template-columns: repeat(auto-fill, 125px);
          gap: 24px;
        }
      }
    }
    .related-documentation {
      padding: 16px 32px;
      font-family: var(--font-display);
      background-color: var(--color-background-brand);

      .description {
        font-weight: 300;
        font-size: 18px;
      }

      .categories {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;

        @media (max-width: $md-breakpoint) {
          gap: 0px;
          flex-direction: column;
        }

        dl {
          margin: 16px 0;

          dt {
            margin: 8px 0;
            font-weight: 700;
            display: flex;
            gap: 8px;
            align-items: center;
          }

          dd {
            display: inline-block;
            margin: 0;
            margin-right: 8px;
            margin-bottom: 8px;

            a {
              font-size: 14px;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
