.search-page {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);

  @media (min-width: $md-breakpoint) {
    display: grid;
    grid-template-columns: 7fr 2fr;
  }

  .content {
    margin-right: 8px;
    padding: 32px;
    background-color: var(--color-background-above);

    .title {
      padding-bottom: 16px;
      border-bottom: 1px solid #ddd;

      > h1 {
        margin: 0;
      }
    }

    .search-query {
      display: inline;
      color: #029de0;
    }

    .results {
      padding-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .result {
        border-bottom: 1px solid var(--color-text);
        .result-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: 8px;

          .left {
            display: flex;
            flex-direction: column;
            gap: 4px;

            @media (min-width: $md-breakpoint) {
              flex-direction: row;
              gap: 20px;
            }

            > h2 {
              margin: 0;
              > a {
                text-decoration: none;
                color: var(--color-text);
              }
            }
          }
          .right {
            display: flex;
            gap: 12px;
          }
        }
      }
    }
  }
}

.search-page-results {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
