.download-button {
  padding: 0.5rem 1rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-text-secondary);
  border-radius: 8px;
  color: var(--color-text);
  text-decoration: unset;

  > img {
    width: 24px;
  }

  .button-text {
    > span {
      font-weight: 700;
    }

    > div {
      font-size: 12px;
      white-space: nowrap;
    }
  }
}
