.language-select {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.language-wrapper .button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
}

.language-wrapper .list {
  position: absolute;
  top: var(--nav-height);
  left: -16px;
  right: 0;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.language-wrapper .list li {
  background-color: #41616f;
  margin-right: -4px;
}

.language-wrapper .list li:hover {
  background-color: #81a1af;
}

.language-wrapper .list a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
}

.language-wrapper .button:checked ~ .list {
  display: block;
}
