$nav-lg: 1280px;
$nav-md: 1024px;
$nav-sm: 412px;
$lg-breakpoint: 1280px;

.header-nav {
  height: var(--nav-height);
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: var(--color-highlight);

  @media (min-width: $nav-sm) {
    grid-template-columns: 8fr 2fr;
  }

  @media (min-width: $nav-md) {
    grid-template-columns: 4fr 4fr 2fr;
  }

  .nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .logo {
      height: 100%;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-text-secondary);

      > img {
        height: calc(var(--nav-height) / 2);
      }
    }

    @media (min-width: $lg-breakpoint) {
      gap: 1rem;
    }
  }

  .lg,
  .md,
  .sm {
    display: none;
  }
  .xs {
    display: flex;
    align-items: center;
  }

  @media (min-width: $nav-sm) {
    .lg,
    .md,
    .xs {
      display: none;
    }
    .sm {
      display: flex;
    }
  }

  @media (min-width: $nav-md) {
    .lg,
    .sm,
    .xs {
      display: none;
    }
    .md {
      display: flex;
    }
  }

  @media (min-width: $nav-lg) {
    .sm,
    .md,
    .xs {
      display: none;
    }
    .lg {
      display: flex;
    }
  }

  .search-wrapper {
    background-color: var(--color-highlight-above);
    @media (min-width: $nav-md) {
      margin: 0 1rem;
    }
    @media (min-width: $lg-breakpoint) {
      margin: 0 0.5rem;
    }
  }
}
