.square {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--color-text-secondary);
  text-align: center;
  cursor: pointer;

  > img {
    width: 64px;
    height: 64px;
  }

  > span {
    font-weight: 700;
  }

  > p {
    font-size: 12px;
    line-height: 14px;
  }
}
