.header {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  justify-items: center;
}

.header--page-title {
  padding-inline: 1rem;

  & img {
    display: block;
    max-width: 85px;
    height: auto;
    object-fit: contain;
  }
}

.language-switch {
  position: relative;
  align-self: stretch;
  display: flex;
  padding-inline: 1rem;

  &:hover {
    background-color: var(--color-primary-bg);
    .language-switch--menu {
      visibility: visible;
      display: block;
    }
  }
}

.language-switch--label {
  display: block;
  text-transform: uppercase;
  align-self: center;
}

.language-switch--menu {
  position: absolute;

  visibility: hidden;
  display: none;
}
