:root {
  --nav-height: 120px;
  --nav-gradient-height: 75px;
  --nav-links-height: 45px;
  --vh: 95vh;

  --color-brand: #04bf93;
  --color-highlight: #10131a;
  --color-highlight-above: #04bf93;
  --color-background: #e1ebef;
  --color-background-brand: #c4d8e2;
  --color-background-above: #eff3f4;
  --color-text: #10131a;
  --color-text-secondary: #ffffff;
  --color-border: #b1c3d0;
}

*[hidden] {
  display: none;
}

:target {
  scroll-margin-top: 60px;
}

html {
  background-color: var(--color-highlight);
}

body {
  margin: 0;
  font-family: var(--font-text);
  font-size: 16px;
  color: var(--color-text);
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

h1 {
  font-size: 40px;
}

pre,
code {
  font-family: "Menlo", Consolas, "Courier New", Courier, monospace;
}

a {
  color: #10131a;
}

pre {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: #494947;
  color: #fdfdfd;
}

code {
  background: #494947;
  color: #fdfdfd;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 76%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .navbar-offset-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

figure {
  @media (max-width: 768px) {
    margin: 0;
  }

  img {
    width: 100%;
  }

  figcaption {
    font-size: 75%;
    text-align: center;
    margin-top: 4px;
  }
}

html[lang*="sma"],
html[lang*="smj"],
html[lang="se"],
html[lang="sje"],
html[lang="sjd"],
html[lang="sms"],
html[lang="smn"] {
  q {
    quotes: "”" "”";
  }
}

kbd {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  color: #212529;
  display: inline-block;
  font-family: "Menlo", Consolas, "Courier New", Courier, monospace;
  font-size: 0.875em;
  line-height: 1;
  padding: 0.2em 0.4em;
  margin: 0 0.2em;
}

/* No-JS custom element fallbacks */
brl-language-map .fallback {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0px 32px;
}
