:root {
  --nav-height: 48px;
  --vh: 100vh;
}

$lg-main-breakpoint: 1280px;
$lg-nav-breakpoint: 1024px;
$md-breakpoint: 768px;
$sm-breakpoint: 412px;

$nav-lg: 1280px;
$nav-md: 1024px;
$nav-sm: 412px;

.landing {
  height: var(--vh);

  .header-nav {
    display: grid;
    height: var(--nav-height);
    background-color: purple;
    grid-template-columns: 1fr min-content;

    @media (min-width: $nav-sm) {
      grid-template-columns: 8fr 2fr;
      background-color: red;
    }

    @media (min-width: $nav-md) {
      grid-template-columns: 4fr 4fr 2fr;
      background-color: yellow;
    }

    @media (min-width: $nav-lg) {
      grid-template-columns: 4fr 4fr 2fr;
      background-color: green;
    }

    .nav {
      display: flex;
      flex-direction: row;
    }

    .lg,
    .md,
    .sm {
      display: none;
    }
    .xs {
      display: flex;
    }

    @media (min-width: $nav-sm) {
      .lg,
      .md,
      .xs {
        display: none;
      }
      .sm {
        display: flex;
      }
    }

    @media (min-width: $nav-md) {
      .lg,
      .sm,
      .xs {
        display: none;
      }
      .md {
        display: flex;
      }
    }

    @media (min-width: $nav-lg) {
      .sm,
      .md,
      .xs {
        display: none;
      }
      .lg {
        display: flex;
      }
    }

    .search {
      background-color: pink;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: $md-breakpoint) {
      display: grid;
      height: calc(var(--vh) - var(--nav-height));
      grid-template-columns: 8fr 2fr;
    }
  }

  .blocks {
    @media (min-width: $lg-main-breakpoint) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 2rem;
      column-gap: 2rem;
    }

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f7f7f7;
  }
}
