:root {
  --nav-height: 120px;
  --vh: 95vh; // Here we go...

  --color-brand: #04bf93;
  --color-highlight: #10131a;
  --color-highlight-above: #04bf93;
  --color-background: #e1ebef;
  --color-background-brand: #c4d8e2;
  --color-background-above: #eff3f4;
  --color-text: #10131a;
  --color-text-secondary: #ffffff;
  --color-border: #b1c3d0;
}

html {
  scroll-padding-top: calc(var(--nav-height) + 8px);
}

body {
  margin: 0;
  font-family: var(--font-text);
  font-size: 16px;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}
