$md-breakpoint: 768px;

.footer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--color-highlight);
  color: var(--color-text-secondary);

  @media (min-width: 600px) {
    flex-direction: row;
  }

  .copyright {
    font-size: 10px;
  }

  .links {
    padding: 16px 0;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

    .link-group {
      > span {
        font-size: 18px;
        font-weight: 700;
      }

      ul {
        font-size: 14px;
        padding-left: 16px;
        li {
          margin: 4px 0;
        }
        li,
        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-info {
    display: flex;
    align-items: center;
    gap: 32px;

    .info-text {
      text-align: right;
      > span {
        font-size: 18px;
        font-weight: 700;
      }
      > p {
        font-size: 14px;
        color: inherit;
      }
    }

    .star {
      margin-top: 8px;
      align-self: flex-start;
    }
  }
}
