$md-breakpoint: 768px;

.footer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--color-highlight);
  color: var(--color-text-secondary);

  @media (min-width: 600px) {
    flex-direction: row;
  }

  .copyright {
    font-size: 10px;
  }

  .footer-content {
    padding: 16px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    @media (min-width: 450px) {
      flex-direction: row;
    }

    .links {
      display: flex;
      gap: 32px;
      flex-wrap: wrap;

      .link-group {
        > span {
          font-size: 18px;
          font-weight: 700;
        }

        ul {
          font-size: 14px;
          padding-left: 16px;
          li {
            margin: 4px 0;
          }
          li,
          a {
            text-decoration: none;
            color: inherit;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer-info {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media (min-width: 450px) {
        flex-direction: row;
      }

      .info-text {
        @media (min-width: 450px) {
          flex-direction: row;
        }

        > span {
          font-size: 18px;
          font-weight: 700;
        }
        > p {
          font-size: 14px;
          color: inherit;
        }
      }

      .star {
        margin-top: 8px;
        align-self: center;
        @media (min-width: 450px) {
          align-self: flex-start;
        }
      }
    }
  }
}
