$nav-lg: 1280px;
$nav-md: 1024px;
$nav-sm: 412px;
$lg-breakpoint: 1280px;

.header-nav-wrapper {
  z-index: 999;
  height: var(--nav-height);
  display: flex;
  flex-direction: column;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  top: calc(var(--nav-gradient-height) * -1);
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);

  .header-gradient {
    flex-grow: 1;
    background-image: linear-gradient(#159dd7, var(--color-brand));
  }

  .nav-control.search-visible {
    .search-wrapper {
      @media (max-width: 450px) {
        width: 100%;
        .search-input {
          display: inherit;
        }
      }
    }

    .language-wrapper {
      @media (max-width: 450px) {
        display: none;
      }
    }
  }

  .nav-control {
    width: 100%;
    height: var(--nav-links-height);
    display: grid;
    grid-template-columns: 3fr 2fr min-content;
    background-color: var(--color-highlight);

    @media (min-width: 768px) {
      grid-template-columns: 3.5fr 3.5fr 3fr;
    }

    @media (min-width: $nav-md) {
      grid-template-columns: 3.5fr 3.5fr 2fr;
    }

    a {
      text-decoration: none;
    }

    .nav {
      position: relative;
      display: flex;
      gap: 1rem;
      height: var(--nav-links-height);

      .logo {
        position: relative;
        height: 100%;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 4px;

        > svg {
          position: absolute;
          bottom: 12px;
          left: 12px;
        }
      }

      .nav-items-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;

        --hamburger-display: block;
        @media (min-width: $nav-md) {
          --hamburger-display: none;
        }

        input[type="checkbox"] {
          position: absolute;
          display: var(--hamburger-display);
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 1000;

          &:checked ~ .nav-items {
            transform: translateX(0);
          }
        }

        .nav-items {
          font-size: 16px;
          position: absolute;
          left: -108px;
          top: 100%;

          // padding: 1rem;
          width: 70vw;
          height: calc((var(--vh) - var(--nav-links-height)));
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: start;

          z-index: 999;
          transform: translateX(-100%);
          transition: transform 0.15s ease-in-out;

          @media (min-width: $nav-md) {
            position: static;
            height: auto;
            width: auto;
            flex-direction: row;
            transform: none;
            font-size: 10px;
          }
          @media (min-width: $nav-lg) {
            font-size: 12px;
          }
        }
      }
    }

    .search-wrapper {
      min-width: 55px;

      @media (min-width: $nav-md) {
        margin-left: 0.5rem;
        // margin-right: 4rem;
      }

      @media (min-width: $lg-breakpoint) {
        margin-left: 0.5rem;
        // margin-right: 4rem;
      }

      @media (max-width: 450px) {
        width: 55px;
        justify-self: end;
        cursor: pointer;
      }

      .search-input {
        @media (max-width: 450px) {
          display: none;
        }
      }
    }

    .language-wrapper {
      display: flex;
      margin: 0 4px;
      height: var(--nav-links-height);
      padding: 0 8px;
      position: relative;

      @media (max-width: 768px) {
        position: initial;
      }
    }
  }
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.search-popover {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);

  .search-results {
    list-style: none;
    padding: 0 20px;
    margin: 0;
  }

  @media (max-width: $nav-md) {
    position: absolute;
    left: 0;
    width: 100%;
  }
}

.search-result {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;

  a {
    display: flex;
    gap: 8px;
    align-items: center;

    text-decoration: none;
    color: inherit;
  }

  .description {
    margin-top: 8px;
    font-weight: 300;
  }
}

.search-see-more {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-see-more-button {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 144px;
  color: inherit;
  text-decoration: none;
  font-family: var(--font-display);
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid #b1c3d0;
  background: #fff;
}
